<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <p>user : io.truthencode.security.model.User</p>

    <ul>
      <li>email: {user.email}</li>
      <li>userName: {user.userName}</li>
      <li>password: {user.password}</li>
      <li>firstName: {user.firstName}</li>
      <li>lastName: {user.lastName}</li>
      <li>isAdmin: {user.isAdmin}</li>
      <li>confirmationCode: {user.confirmationCode}</li>
      <li>tenantId: {user.tenantId}</li>
      <li>authId: {user.authId}</li>
      <li>status: {user.status}</li>
    </ul>
  </body>
</html>
